alembic==1.8.0
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
attrs==21.4.0
autopage==0.5.1
backcall==0.2.0
bayesian-optimization==1.2.0
beautifulsoup4==4.11.1
black==22.3.0
bleach==5.0.0
boto3==1.24.13
botocore==1.27.13
cachetools==5.2.0
certifi==2022.6.15
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.3
cliff==3.10.1
cmaes==0.8.2
cmd2==2.4.1
colorlog==6.6.0
cycler==0.11.0
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
dfply==0.3.3
entrypoints==0.4
executing==0.8.3
fastjsonschema==2.15.3
fonttools==4.33.3
google-api-core==2.8.2
google-auth==2.8.0
google-cloud-bigquery==3.2.0
google-cloud-bigquery-storage==2.13.2
google-cloud-core==2.3.1
google-cloud-storage==2.4.0
google-crc32c==1.3.0
google-resumable-media==2.3.3
googleapis-common-protos==1.56.2
graphviz==0.20
grpcio==1.46.3
grpcio-status==1.46.3
idna==3.3
ipykernel==6.15.0
ipython==8.4.0
ipython-genutils==0.2.0
jedi==0.18.1
Jinja2==3.1.2
jmespath==1.0.1
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1633637554808/work
jsonschema==4.6.0
jupyter-client==7.3.4
jupyter-contrib-core==0.3.3
jupyter-core==4.10.0
jupyter-nbextensions-configurator==0.4.1
jupyterlab-pygments==0.2.2
kiwisolver==1.4.3
lightgbm @ file:///Users/runner/miniforge3/conda-bld/lightgbm_1641600122859/work
Mako==1.2.0
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
mistune==0.8.4
mlxtend==0.20.0
mypy-extensions==0.4.3
nbclient==0.6.4
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
notebook==6.4.12
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1653325964689/work
optuna==2.10.1
packaging==21.3
pandas==1.4.2
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.9.0
pbr==5.9.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.1
platformdirs==2.5.2
prettytable==3.3.0
prometheus-client==0.14.1
prompt-toolkit==3.0.29
proto-plus==1.20.6
protobuf==3.20.1
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
pyaml==21.10.1
pyarrow==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
Pygments==2.12.0
pyparsing==3.0.9
pyperclip==1.8.2
pyrsistent==0.18.1
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
pyzmq==23.2.0
requests==2.28.0
rsa==4.8
s3transfer==0.6.0
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1652976950430/work
scikit-optimize==0.9.0
scikit-surprise==1.1.1
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy_1653074075583/work
seaborn==0.11.2
Send2Trash==1.8.0
six==1.16.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.39
stack-data==0.3.0
stevedore==3.5.0
terminado==0.15.0
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1643647933166/work
tinycss2==1.1.1
tomli==2.0.1
tornado==6.1
tqdm==4.64.0
traitlets==5.3.0
typing_extensions==4.2.0
urllib3==1.26.9
wcwidth==0.2.5
webencodings==0.5.1
xgboost==1.6.1
